<div id="mnav">
    <div id="lnav">
      <div id="line"></div>
      <h1><a href="/"><img src="/public/imgs/lemon.png"/></a><a id="home" href="/">Lemon</a></h1>
      <label ><a href="#" id="menu">menu</a></label>
    </div>
    <div id="rnav">
      <li><a href="/blog/index.html" title="blog">Blog</a></li>
      <li><a href="/docs/index.html" title="docs">Docs</a></li>
      <li><a href="c" title="xxx_c">c</a></li>
      <li><a href="d" title="xxx_d">d</a></li>
      <li><a href="/about" title="About">关于</a></li>
    </div>
</div>
