<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <main>
      <section class="docs">
        <div class="inner">
          <aside>
            <p>2018</p>
            <ul>
              <li><a href="/blog/2018/Blog-example.html">Blog Example</a></li>
            </ul>
          </aside>
          <hr id="hr">
          <article class="markdown-body">
          {{ page.content }}
          </article>
        </div>
      </section>
    </main>
    <footer>
      {% include "footer.liquid" %}
    </footer>
  </body>
</html>
